<div class="station-display">
  <app-favorite-button (click)="onFavoriteButtonClick()" [isFavorite]="isFavorite"></app-favorite-button>

  <div (click)="onStationClick()" class="station-display__detail">
    <p class="station-display__cell">{{ station.name }}</p>
    <p class="station-display__cell">
      <span>{{ station.num_bikes_available }}</span>
      <app-icon iconName="pedal_bike" title="Bikes available" [classes]="['bike-icon']"></app-icon>
    </p>
    <p class="station-display__cell">
      <span>{{ station.num_docks_available }}</span>
      <app-icon iconName="bike_scooter" title="Docks available" [classes]="['dock-icon']"></app-icon>
    </p>
    <p
      [ngClass]="{
        'station-display__in-service': station.is_installed,
        'out-of-service-icon': !station.is_installed
      }"
      class="station-display__cell"
    >
      {{ station.is_installed | formatInService }}
    </p>
  </div>
</div>
