<div class="station-display">
  <app-favorite-button (click)="onFavoriteButtonClick()" [isFavorite]="isFavorite"></app-favorite-button>

  <div (click)="onStationClick()" class="station-display__detail">
    <p class="station-display__cell">{{ station.name }}</p>
    <p class="station-display__cell">
      <span>{{ station.num_bikes_available }}</span>
      <i class="icon__bike material-icons" title="Bikes available">pedal_bike</i>
    </p>
    <p class="station-display__cell">
      <span>{{ station.num_docks_available }}</span>
      <i class="icon__dock material-icons" title="Docks available">bike_scooter</i>
    </p>
    <p
      [ngClass]="{
        'station-display__in-service': station.is_installed,
        'icon__out-of-service': !station.is_installed
      }"
      class="station-display__cell"
    >
      {{ station.is_installed | formatInService }}
    </p>
  </div>
</div>
