.station-display {
  align-items: center;
  display: flex;
  justify-content: flex-start;
}

.station-display__detail {
  align-items: center;
  cursor: pointer;
  display: flex;
  width: 100%;
}

.station-display__cell {
  align-content: center;
  display: flex;
  flex: 25%;
  justify-content: center;
  margin: 0;
}
