.organization-name {
  color: #222;
  font-size: 52px;
  letter-spacing: 0;
  transform: matrix(1, -0.05, 0.05, 1, 0, 0);
}

.organization-description {
  padding: 12px;
}

.question-mark--color {
  color: #ef0000;
  font-style: inherit;
}
