.list-title {
  padding: 16px 0px 16px 32px;
  margin: 0px;
}

.list-header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.remove-border-bottom ::ng-deep .mat-tab-header {
  border-bottom: none;
}

.maps-wrapper {
  padding: 16px 0px;
}

.mat-tab-header-pagination.mat-tab-header-pagination-disabled {
  display: none !important;
}

.last-updated-label {
  font-style: italic;
  text-align: center;
  margin-top: 8px;
}
