<app-stations-filters (filterChanges)="onFilterChanges($event)"></app-stations-filters>

<mat-tab-group #listTab mat-align-tabs="center" class="remove-border-bottom" (selectedTabChange)="onSelectedTabChange($event)">
  <mat-tab label="List">
    <ng-template matTabContent>
      <ng-container *ngTemplateOutlet="listTemplate"> </ng-container>
    </ng-template>
  </mat-tab>

  <mat-tab label="Map">
    <ng-template matTabContent>
      <ng-container *ngTemplateOutlet="mapsTemplate"> </ng-container>
    </ng-template>
  </mat-tab>
</mat-tab-group>

<ng-template #mapsTemplate>
  <div *ngIf="allStations$ | async as allStations" class="maps-wrapper">
    <app-maps [stationsToMark]="allStations"></app-maps>
    <p class="last-updated-label">Last update: {{ lastStationsUpdate | date: 'medium' }}</p>
  </div>
</ng-template>

<ng-template #listTemplate>
  <div class="stations-list-wrapper">
    <div *ngIf="stations$ | async as stations">
      <ng-container *ngIf="isAnyFavorite">
        <h2 class="list-title">Favorite stations ({{ stations.favorite.length }})</h2>
        <ng-container *ngIf="stations.favorite.length > 0">
          <app-stations-display
            *ngFor="let favoriteStation of stations.favorite; trackBy: trackStationById"
            [station]="favoriteStation"
            [isFavorite]="true"
            (toggleFavorite)="onToggleFavorite(favoriteStation.station_id)"
            (stationClick)="onStationClick(favoriteStation.station_id)"
            class="stations-display"
          ></app-stations-display>
        </ng-container>
      </ng-container>

      <ng-container *ngIf="!!stations.standard">
        <h2 class="list-title">Stations ({{ stations.standard.length }})</h2>
        <ng-container *ngIf="stations.standard.length > 0">
          <app-stations-display
            *ngFor="let standardStation of stations.standard; trackBy: trackStationById"
            [station]="standardStation"
            [isFavorite]="false"
            (toggleFavorite)="onToggleFavorite(standardStation.station_id)"
            (stationClick)="onStationClick(standardStation.station_id)"
            class="stations-display"
          ></app-stations-display>
        </ng-container>
      </ng-container>
    </div>
  </div>
</ng-template>
