<app-stations-filters
  *ngIf="clientPosition$ | async as clientPosition"
  [clientPosition]="clientPosition"
  (filterChanges)="onFilterChanges($event)"
></app-stations-filters>

<mat-tab-group #listTab mat-align-tabs="center" class="remove-border-bottom" (selectedTabChange)="onSelectedTabChange($event)">
  <mat-tab label="List">
    <ng-template matTabContent>
      <ng-container *ngTemplateOutlet="listTemplate"> </ng-container>
    </ng-template>
  </mat-tab>

  <mat-tab label="Map">
    <ng-template matTabContent>
      <ng-container *ngTemplateOutlet="mapsTemplate"> </ng-container>
    </ng-template>
  </mat-tab>
</mat-tab-group>

<ng-template #mapsTemplate>
  <div *ngIf="allStations$ | async as allStations" class="maps-wrapper">
    <app-maps *ngIf="clientPosition$ | async as clientPosition" [stationsToMark]="allStations" [center]="clientPosition"></app-maps>
    <p class="last-updated-label">Last update: {{ lastStationsUpdate | date: 'medium' }}</p>
  </div>
</ng-template>

<ng-template #listTemplate>
  <div class="stations-list-wrapper">
    <div *ngIf="stations$ | async as stations">
      <ng-container *ngIf="isAnyFavorite">
        <app-stations-list
          [stations]="stations.favorite"
          [sortIcon]="favoriteStationsSortIcon"
          [isFavorite]="true"
          title="Favorite stations"
          (toggleSort)="onToggleSort('favorite')"
          (toggleFavorite)="onToggleFavorite($event)"
          (stationClick)="onStationClick($event)"
        ></app-stations-list>
      </ng-container>

      <ng-container *ngIf="!!stations.standard">
        <app-stations-list
          [stations]="stations.standard"
          [sortIcon]="standardStationsSortIcon"
          title="Stations"
          (toggleSort)="onToggleSort('standard')"
          (toggleFavorite)="onToggleFavorite($event)"
          (stationClick)="onStationClick($event)"
        ></app-stations-list>
      </ng-container>
    </div>
  </div>
</ng-template>
