.bike-icon {
  color: orange;
}

.dock-icon {
  color: deepskyblue;
}

.out-of-service-icon {
  color: $primary-color-danger-light;
}

.sort-icon {
  color: black;
}

.favorite-icon {
  align-items: center;
  color: gold;
}
