.out-of-service-icon,
.bike-icon,
.dock-icon {
  font-size: 18px;
  line-height: 20px;
  margin-right: 8px;
}

.station-detail__info {
  border: 1px solid #d0d0d0;
  border-radius: 15px;
}

.station-detail__name {
  // It should be important otherwise it is ovveriden by the h1 tag
  color: #222 !important;
  margin: 0 !important;
}

.station-detail__last-updated-label {
  font-style: italic;
}
