.stations-list__title {
  border-radius: 8px;
  margin: 16px 0 16px 32px;
  padding: 12px;
}

.stations-list__empty-stations {
  font-size: large;
  font-style: italic;
  font-weight: 500;
  text-align: center;
}

.icon__sort {
  margin-right: 8px;
}
