.station-display {
  background-color: white;
  border-bottom: 2px solid #f8f8f8;
  color: black;
  margin: 12px;
  padding: 2px;

  @include respond-to('md') {
    border-radius: 0;
    margin: 12px 0;
  }
}

.bike-icon,
.dock-icon {
  font-size: 18px;
  line-height: 20px;
  margin-left: 8px;
}

.station-display--state {
  border: 1px solid #079617;
  border-radius: 15px;
}

.station-display--in-service {
  color: #079617;
}

.station-display--out-of-service {
  border-color: #ef0000;
  color: #ef0000;
}
