.stations-list-header {
  background-color: #f8f8f8;
  color: #c6c6c6;
}

.stations-list__empty-stations {
  font-size: large;
  font-style: italic;
  font-weight: 500;
  line-height: 52px;
  text-align: center;
}

.sort-icon {
  margin-right: 8px;
}
