.station-detail-wrapper__header {
  padding: 16px;
}

.station-detail-wrapper__favorite-block {
  background-color: $secondary-color-light;
  border-radius: 16px;
  color: gray;
  font-style: italic;
  padding: 4px 12px;
}

.station-detail-wrapper__favorite-button {
  margin-left: 8px;
}
