.stations-list {
  background-color: white;
  box-sizing: border-box;
  height: 100%;
  max-width: 900px;
  overflow: hidden;
  padding: 40px;
  width: 100%;
}

.stations-list-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  max-width: 900px;
  width: 100%;
}

.maps {
  height: 100%;
  padding: 16px 0;
}

.maps__last-updated-label {
  font-style: italic;
  margin-top: 8px;
  text-align: center;
}
