<h2 class="stations-list__title" matRipple [matRippleUnbounded]="false" [matRippleCentered]="true" (click)="onToggleSort()">
  <app-icon [iconName]="sortIcon" title="Toggle sort" [classes]="['sort-icon']"></app-icon>
  {{ title }} ({{ stations.length }})
</h2>
<ng-container *ngIf="stations.length > 0; else emptyStations">
  <app-stations-display
    *ngFor="let station of stations; trackBy: trackStationById"
    [station]="station"
    [isFavorite]="isFavorite"
    (toggleFavorite)="onToggleFavorite(station.station_id)"
    (stationClick)="onStationClick(station.station_id)"
  ></app-stations-display>
</ng-container>

<ng-template #emptyStations> <div class="stations-list__empty-stations">No stations found</div></ng-template>
