<div class="stations-list-header">
  <div
    class="stations-list-header__name stations-list-header__title"
    matRipple
    [matRippleUnbounded]="false"
    [matRippleCentered]="true"
    (click)="onToggleSort()"
  >
    <span class="stations-list-header__name-label">Name</span>
    <app-icon [iconName]="sortIcon" title="Toggle sort" [classes]="['sort-icon']"></app-icon>
  </div>
  <div class="stations-list-header__title">Bikes av.</div>
  <div class="stations-list-header__title">Docks av.</div>
  <div class="stations-list-header__title">State</div>
</div>
<ng-container *ngIf="stations.length > 0; else emptyStations">
  <div class="stations-display-container">
    <app-stations-display
      *ngFor="let station of stations; trackBy: trackStationById"
      [station]="station"
      [isFavorite]="favoriteStationRecord[station.station_id]"
      (toggleFavorite)="onToggleFavorite(station.station_id)"
      (stationClick)="onStationClick(station.station_id)"
    ></app-stations-display>
  </div>
</ng-container>

<ng-template #emptyStations> <div class="stations-list__empty-stations">No stations found</div></ng-template>
