.list-title {
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  margin: 16px 0 16px 32px;
  overflow: hidden;
  padding: 12px;
  width: fit-content;
}

.sort-icon {
  margin-right: 8px;
}
