<div *ngIf="station$ | async as station; else loadingBlock" class="station-detail-wrapper">
  <div class="station-detail-wrapper__header">
    <button mat-raised-button type="button" (click)="back()">Back</button>
    <button mat-button type="button" class="station-detail-wrapper__favorite-block" (click)="onToggleFavorite(station.station_id)">
      Add to favorite
      <app-favorite-button [isFavorite]="(isFavoriteStation$ | async) ?? false"></app-favorite-button>
    </button>
  </div>
  <app-station-information-sheet [station]="station"></app-station-information-sheet>
  <app-maps [stationsToMark]="[station]" [center]="clientPosition"></app-maps>
</div>

<ng-template #loadingBlock>
  <app-loader></app-loader>
</ng-template>
