<div class="station-detail" *ngIf="station; else loading">
  <div class="station-detail__title">
    <h1 class="station-detail__name">{{ station.name }}</h1>
    <app-favorite-button [isFavorite]="isFavorite" [size]="41"></app-favorite-button>
  </div>
  <div class="station-detail__info">
    <span class="station-detail__property">
      <b class="add-margin">{{ station.num_bikes_available }}</b> bikes available
    </span>
    |
    <span class="station-detail__property">
      <b class="add-margin">{{ station.num_docks_available }}</b> docks available
    </span>
    |
    <span class="station-detail__property station-detail__out-of-service">
      <b class="add-margin">{{ numDocksOutOfService }} </b> dock out of service
    </span>
  </div>
</div>

<ng-template #loading><app-loader></app-loader></ng-template>
