<div class="station-detail" *ngIf="station">
  <h1 class="station-detail__name">{{ station.name }}</h1>
  <div class="station-detail__info">
    <p class="station-detail__property">
      <app-icon iconName="pedal_bike" title="Bikes available" [classes]="['bike-icon']"></app-icon>
      <span>{{ station.num_bikes_available }} bikes available</span>
    </p>
    <p class="station-detail__property">
      <app-icon iconName="bike_scooter" title="Docks available" [classes]="['dock-icon']"></app-icon>
      <span>{{ station.num_docks_available }} docks available</span>
    </p>
    <p class="station-detail__property">
      <app-icon iconName="error" title="Docks out of service" [classes]="['out-of-service-icon']"></app-icon>
      <span>{{ numDocksOutOfService }} out of service</span>
    </p>
  </div>
  <p class="station-detail__last-updated-label">Last update: {{ station.updatedAt | date: 'medium' }}</p>
</div>
